@import "../../../../../styles/color-setup.scss";

.nav-tools {
  position: absolute;
  top: 39.7rem;
  right: 1rem;
  z-index: 40;

  .btn-color {
    background-color: $color-three;
    &:hover {
      background-color: darken($color-three, 5);
    }
  }
}
