.floor-status {
  position: relative;
  height: 39rem;
  display: flex;
  justify-content: space-between;

  &-title {
    padding-bottom: 1em;
    padding-left: 0.4rem;
    color: lighten(darkslategrey, 40);
    display: flex;
    justify-content: space-between;
  }

  .td-width {
    width: 14.4rem;
  }

  .floor-status-container {
    background-color: darkslategrey;
    width: 18rem;
    padding: 1rem;
    // margin-bottom: 10rem;
    // margin-left: 52.8rem;
  }

  .floor-status-values {
    background-color: #223b3b;
    color: lighten(darkslategrey, 40);
    padding: 0.6rem;
  }

  .clock-container {
    padding-right: 1rem;
    border: 1px solid palegoldenrod;
  }

  .heat-map {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 97.3%;
    height: 16rem;
    // padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    background-color: darkslategrey;
    box-sizing: border-box;
    border-radius: 5px &-label {
      padding: 1rem 0 1.5rem 2.5rem;
      color: lighten(darkslategrey, 40);
    }
  }

  .heat-map-label {
    padding: 1rem 0 1.5rem 2.5rem;
    color: lighten(darkslategrey, 40);
  }
}
