.map-view {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 30;
  // border: 2px solid salmon;
  padding-top: 1rem;

  .scroll-container {
    height: calc(100vh - 0.5rem);

    .map {
      display: flex;
      justify-content: center;

      .map-img-container {
        position: relative;
        border: 4px solid red;
        // transform: scale(0.5);
        // top: -20rem;
      }
    }
  }
}

.close {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: aliceblue;
  font-size: 2rem;
  font-weight: bold;
  z-index: 40;
  cursor: pointer;
}
