@import "../../../styles/color-setup.scss";

.map-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-one;
  z-index: 30;

  .map {
    position: relative;

    &-container {
      display: flex;
      justify-content: center;
      width: 100vw;
      min-height: 100vh;
    }

    &-img-container {
      position: relative;
    }
  }
}
