@import "../../../../../styles/color-setup.scss";

.back-arrow {
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  position: absolute;
  top: 0.8rem;
  left: 1.7rem;
  color: $color-one;
  background-color: rgba(225, 236, 249, 0.6);
  color: $color-four;
  border-radius: 50%;
  padding-top: 0.25rem;
  padding-left: 0.55rem;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 50;
}
