@import "../../../styles/color-setup.scss";

.locations {
  min-width: 18%;
  max-width: 18%;
  padding-left: 1rem;
  background-color: $color-two;
  position: relative;
  padding-top: 1rem;

  &-tree {
    max-width: 15rem;
    color: $color-five;
  }
}
.group {
  color: lighten($color-four, 5);
}

.tree-item-floor {
  color: darken($color-three, 5);
}

.selected {
  color: $color-one;
  background-color: rgba(35, 106, 185, 0.4);
}
