@import "../../../styles/color-setup.scss";

.floor {
  &-view {
    width: 84%;
    background-color: $color-one;
    box-sizing: border-box;
  }

  &-status {
    padding-right: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}
