.sensor {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  background: rgb(165, 165, 165);
  border-radius: 50%;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
  transition: filter 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.red {
  background: red;
}

.green {
  background: chartreuse;
}
