@import "../../../../../styles/color-setup.scss";

.map-preview {
  width: 77rem;
  height: 30rem;
  padding-top: 1rem;
  padding-left: 2rem;
  box-sizing: border-box;

  &-gallery {
    height: 100%;
    display: flex;

    &-preview {
      height: 25rem;
      width: 14rem;
      margin-right: 1.5rem;
      padding: 0.5rem;
      position: relative;

      &-name {
        color: $color-five;
        padding-bottom: 0.3rem;
      }

      .overlay {
        height: 87%;
        width: 94.2%;
        background-color: $color-three;
        position: absolute;
        top: 2.18rem;
        left: 0.5rem;
        opacity: 0;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 0.2;
        }
      }

      &-image {
        height: 90%;
        width: 100%;
        cursor: pointer;
        border: 1px solid $color-five;
      }
    }
  }
}
