@import "../../../../../styles/color-setup.scss";

.floor-view-header {
  display: flex;
  padding: 0.5rem 0;
  // background: linear-gradient(
  //   90deg,
  //   rgba(47, 79, 79, 1) 25%,
  //   rgba(34, 59, 59, 1) 40%
  // );
  background-color: $secondary;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: space-between;

  &-location {
    display: flex;
    &-label {
      color: #dd8818;
      padding-right: 0.5rem;
    }

    &-main,
    &-site,
    &-floor,
    &-room {
      text-transform: capitalize;
      color: #bbb;
    }
  }
}
.arrow {
  &::before {
    content: "\20\3E";
    color: #aaa;
  }
}
