.room-view-header {
  display: flex;

  &-title {
    // color: lighten(darkslategrey, 20);
    color: #ccc;
    padding-right: 1rem;
  }

  &-location,
  &-site,
  &-floor,
  &-room {
    text-transform: capitalize;
    color: #bbb;
  }
}
.arrow {
  &::before {
    content: "\20\3E";
    color: #aaa;
  }
}
